:root {
    --color-black-bg:  rgba(0,0,0, 0.5);
    --color-blue-main: rgb(9, 9, 159);
}

body {
    width: 100%; 
    background:linear-gradient(black, rgb(36, 36, 36));
}s
/* wide scope */
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.row {
margin-right: 0px !important;
}
/* hero */
.jumbotron {
    height: 600px; 
    color: white;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}

.jumbotron img {
    border-radius: 50%;
    width: 100%;
    max-height: 250px;
    max-width: 250px;
}

/* navbar */
.navbar {
  justify-content: center;
  position: absolute; 
  height: 20%;
  background: var(--color-black-bg); 
}

.navbar .container {
    width: 400px; 
}
.navbar .container ul {
    width: 100%; 
    justify-content: space-between;
}
.navbar li { 
    margin: 0 10px; 
    border-radius: 5px;
    border: 2px solid white; 
    text-align: center;
}

.navbar a {
    color: white;
    transition:  all 0.3s ease-in-out 0s;
}

.navbar a:hover {
    box-shadow: inset 0px 0px 10px rgba(255,255,255,0.8),
      0 0 20px rgba(255,255,255,0.8);
    color: white; 
}

/* masthead */

.masthead {
    height: 80%;
    background: var(--color-black-bg);
}

.masthead p {
    font-family: 'Roboto Slab', serif;
}

/* work */

#work {
    text-align: center;
    color:  white; 
    margin-top: 20px;
    margin-bottom: 10px; 
}

#work .row {
    margin: 0 auto; 
}

.cardContainer {
    height: 400px; 
    margin: 0;
    padding: 5px; 
}

.cardContainer .card {
    height: 100%; 
    background: none;
    border-radius: 5px;
    border: 2px solid white; 
}

.card h5 {
    font-weight: bold;
}

.card .image-container {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

.card .btn {
    background-color: var(--color-blue-main);
    border: 2px solid var(--color-blue-main); 
    transition: all 0.3s ease-in-out 0s;
}
.card .btn:hover {
    background-color: rgb(253 148 0);
    border: 2px solid rgb(253 148 0);
    color: black; 
    box-shadow:  5px 5px rgb(138, 80, 0); 
}

/* skills */
#skills {
    background-color: var(--color-blue-main);
    color: white;
    margin: 10px 0;
    padding: 50px 0; 
    text-align: center;
}

#skills .container {
    height: 100%; 
}

/* About/contact */
#about-contact {
    margin-top: 30px;   
}

#about, #contacts {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; 
}
#about {
    background-image:url(../images/about-bg.jpg);
    color: white; 
    max-width: 100%;
}
#contacts {
    background-image: url(../images/contacts-bg.jpg); 
    max-width: 100%; 
}

#about > * {
    margin: 10px 10px; 
}

#contacts h2 {
    margin-top: 10px;
}
.contact-set {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact-set i {
    margin: 0 10px; 
}
.contact-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
}
.contact-set a {
    text-decoration: none;
    color: black; 
}
.contact-set a:hover {
    color: var(--color-blue-main); 
    font-weight: bold;
}

#email {
    user-select: all;
}
/* footer */

footer p {
    width: fit-content; 
    color: darkgray; 
    height: 20px;
}

